Debug/
Release/
Lib/
Battle/screenshot_*.bmp
Battle/Battle.vcxproj.filters
Battle/Battle.vcxproj.user
/lib/
/include/
/*.sdf
/*.suo
/*.sdf
/*.opensdf
/Battle/nbproject/private/
/nbproject/private/
*.o
*~
*.cmake
Battle/battle
/smashbattle
*.exe
/CMakeFiles
/docs
/CMakeCache.txt
/Doxyfile.old
.idea
